name: compile_and_test

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  build_and_test:
    name: Build & test on ${{ matrix.config.os }} with ${{ matrix.config.cc }} and ${{ matrix.config.cxx }}.
    runs-on: ${{ matrix.config.os }}
    env:
      build_directory: "cmake-build-debug"
    strategy:
      matrix:
        config:
          - {
            name: "Windows Latest - MSVC",
            os: windows-latest,
            cc: "cl", cxx: "cl",
            extra_cmake_flags: "-G Ninja",
          }

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Setup Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: CMake Configure (Debug)
        run: cmake -B ${{ env.build_directory }} -Wno-dev -DCMAKE_BUILD_TYPE=Debug ${{ matrix.config.extra_cmake_flags }} -DCMAKE_C_COMPILER=${{ matrix.config.cc }} -DCMAKE_CXX_COMPILER=${{ matrix.config.cxx }}
